# ignore pickles and other files:
venv
# *.p
*.pyc
*/.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.vscode
__pycache__
*.log
.idea
figures/*
model_cache/*
submission/ng_boost_*

# ignore ALL files in ANY directory named:
memos/
exploration_pickle/
Untitled.ipynb 

#*.csv
#*.pdf
#*.parquet
.DS_Store
submission/readme.txt

# ignore this irrelevant HH file...
Data_for_Idris.ipynb

